@import url(https://fonts.googleapis.com/css?family=Lato);
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  z-index: 100;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", sans-serif;
}

/* --------------------------------------Header--------------------------------------------------- */

header {
  position: fixed;
  top: 0%;
  width: 100%;
  color: white;
}

/* --------------------------------------Navbar--------------------------------------------------- */

.navbar__main {
  position: sticky;
  top: 0%;
  height: 2rem;
  padding: 2rem;
  background-color: rgb(255, 253, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 8px -8px rgb(255, 255, 255);
  z-index: 100;
}
.navbar__list--component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__list--component a {
  color: #111;
  text-decoration: none;
}
.navbar__list--component a:hover {
  font-family: "Permanent Marker", cursive;
  color: orange;
}
.navbar__list {
  font-size: 1.5rem;
  margin: 0 15px;
}

/* --------------------------------------Download CV--------------------------------------------------- */

.cv {
  display: block;
  width: 180px;
  line-height: 20px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #111;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  /* padding: 10px;
  border: 2px solid white; */
}
.cv:before,
.cv:after {
  position: absolute;
  content: "";
  transition: all 0.3s;
}
.cv:before {
  border-bottom: 2px solid orange;
  border-left: 2px solid orange;
  width: 15%;
  height: 33%;
  left: -10px;
  bottom: -10px;
}
.cv:after {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
  width: 10%;
  height: 33%;
  top: -10px;
  right: -10px;
}
.cv:hover {
  font-family: "Permanent Marker", cursive;
  color: orange;
}

.cv:hover:before {
  width: 110%;
  height: 180%;
}

.cv:hover:after {
  width: 110%;
  height: 180%;
}

/* --------------------------------------@Media Query Navbar--------------------------------------------------- */

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .navbar__list--component {
    width: 100%;
    padding-left: 23px;
  }
  .home--button {
    display: none;
  }
  .about--button {
    display: none;
  }
  .portfolio--button {
    display: none;
  }
  .contact--button {
    display: none;
  }
  .cv {
    display: none;
  }
  .about__title--img {
    width: 37rem;
    height: 25rem;
  }
}
/* Media Query taille supérieure à 576 px */

@media only screen and (min-width: 576px) {
  /*and (max-width: 2576px){ */
  .home--icon {
    display: none;
  }
  .about--icon {
    display: none;
  }
  .portfolio--icon {
    display: none;
  }
  .contact--icon {
    display: none;
  }
}
/* --------------------------------------Main--------------------------------------------------- */
main {
  width: 100%;
}
/* --------------------------------------Home--------------------------------------------------- */
.first__page--bg--img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  background-image: url(https://images.unsplash.com/photo-1515973069-1e40b62f107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: inherit;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 68rem;
}
.first__page--presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.first__page--title {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin: 10rem 0 3rem 0;
  transition: font-size 0.5s ease;
}
.first__page--title:hover {
  font-size: 5rem;
}
.first__page--paragraphe,
.first__page--paragraphe--main {
  padding: 0 4.5rem 0 4.5rem;
  margin: 0 4.5rem 0 4.5rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.5rem;
  color: #b7b7b7;
}
.first__page--paragraphe--span--h2--first {
  font-size: 1.8rem;
  font-weight: 600;
}
.first__page--paragraphe--span--h2--second {
  color: white;
}
.first__page--presentation--arrow img {
  width: 40px;
  height: 40px;
}
.box__container-wrapper {
  background-color: transparent;
  height: 4.5vh;
  overflow: hidden;
}
.wrapper {
  box-sizing: content-box;
  background-color: transparent;
  place-items: center;
  overflow: hidden;
}
.words {
  background-color: transparent;
  overflow: hidden;
  color: transparent;
  z-index: -1;
}
.words span {
  display: block;
  height: 20%;
  padding: 10px;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  background-color: transparent;
  color: orange;
  animation: spin_words 6s infinite;
}
.words a {
  font-family: "Permanent Marker", cursive;
  font-size: 2.4rem;
  text-decoration: none;
  color: orange;
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
.first__page--paragraphe--progress {
  box-sizing: content-box;
  background-color: #fff;
  height: 70px;
  padding: 5px 5px;
  display: flex;
  /* color: orange;
  transition: font-size .5s ease; */
}
.first__page--paragraphe--progress:hover {
  /* a verifier */
  font-family: "Permanent Marker", cursive;
  font-size: 2.3rem;
  color: orange;
}

.first__page--paragraphe--oclock {
  transition: font-size 0.5s ease;

  color: orange;
}
.first__page--paragraphe--oclock:hover {
  font-family: "Permanent Marker", cursive;
  font-size: 2.3rem;
  color: orange;
}

/* #about_ancer {
  color: transparent;
  position: absolute;
  bottom: 7rem;
  left: 0;
} */
@media only screen and (min-width: 320px) and (max-width: 829px) {
  .first__page--bg--img {
    background-image: url(./images/daniel-mccullough-80VTQEkRh1c-unsplash.jpg);
    background-position: center;
    background-size: 120%;
  }
  .first__page--title {
    font-size: 1.8rem;
    margin: 6rem 0 1.5rem 0;
  }
  .first__page--paragraphe,
  .first__page--paragraphe--main {
    padding: 0 2rem 0 2rem;
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem;
  }
  .first__page--paragraphe--main {
    padding: 0 2rem 0 2rem;
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem;
  }
  .first__page--title:hover {
    font-size: 2rem;
  }
}
/* --------------------------------------About---------------------------------------------------*/
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4.5rem;
}
.about__title {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 3rem 0 3rem 0;
}
.about__title--img {
  display: flex;
  /* width: 110rem;
  height: 77rem; */
  width: 80rem;
  height: 52rem;
  border-radius: 84% 16% 73% 27% / 38% 50% 50% 62%;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}
.about__paragraph {
  padding: 0 4.5rem 0 4.5rem;
  margin: 0 4.5rem 0 4.5rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.about__paragraph--begin {
  color: orange;
  font-size: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 829px) {
  .about__title--img {
    width: 20rem;
    height: 19rem;
  }
  .about__paragraph {
    padding: 0 2rem 0 2rem;
    margin: 0 2rem 0 2rem;
    font-size: 1.6rem;
  }
}

/* --------------------------------------Portfolio--------------------------------------------------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.portfolio__title {
  display: block;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 3rem 0 3rem 0;
}
.portfolio__article {
  width: 35rem;
  height: 26rem;
  margin: 1rem;
  border-radius: 25px;
}
.portfolio__article--1--img {
  width: 35rem;
  height: 16rem;
  border-radius: 35rem;
}
.portfolio__article--2--img {
  width: 35rem;
  height: 16rem;
  border-radius: 35rem;
}
.portfolio__article--3--img {
  width: 35rem;
  height: 16rem;
  border-radius: 35rem;
}
.portfolio__article--4--img {
  width: 35rem;
  height: 16rem;
  border-radius: 35rem;
}
.portfolio__article--5--img {
  width: 35rem;
  height: 16rem;
  border-radius: 35rem;
}
.portfolio__article--6--img {
  width: 35rem;
  height: 16rem;
  border-radius: 35rem;
}
.portfolio__article--img--title {
  color: lightgray;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1.3rem 0 1rem 0;
}
.portfolio__article--img--paragraph {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
}
@media only screen and (min-width: 320px) and (max-width: 829px) {
  .portfolio__article--img--title {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 0 1rem 0;
  }
  .portfolio__article--img--paragraph {
    font-size: 1.4rem;
    font-weight: 300;
  }
}

/* --------------------------------------contact--------------------------------------------------- */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: #fff;
}
.contact__title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 3rem 0 3rem 0;
}
.label {
  text-align: left;
  font-weight: 500;
  padding: 1rem 0 1rem 0;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10%;
  width: 35.2rem;
}
.control {
  justify-content: center;
  width: 100%;
}
.input {
  width: 100%;
  border-bottom: 1px solid orange;
  border-top: none;
  border-right: none;
  border-left: none;
}
.control {
  display: flex;
  padding: 25px;
}
.control__submit--button {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 500;
  font-size: 15px;
  background-color: orangered;
  padding: 15px 30px;
  margin: 0 auto;
}
.control__submit--button span {
  position: relative;
  z-index: 1;
}
.control__submit--button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 370%;
  width: 160%;
  background: orange;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}
.control__submit--button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* --------------------------------a reprendre !!!!!!!!!!---------------------------------------------------- */
.contact__form--under--title {
  text-align: center;
  padding: 0 4.5rem 0 4.5rem;
  margin: 0 4.5rem 0 4.5rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.contact__form--paragraph {
  text-align: center;
  padding: 0 4.5rem 0 4.5rem;
  margin: 0 4.5rem 0 4.5rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
/* --------------------------------jusqu'ici  !!!!!!!!!!---------------------------------------------------- */

/* --------------------------------------Footer--------------------------------------------------- */
footer {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  /* height: 16rem; */
  background-color: #111;
  color: white;
  z-index: 1000;
}
.footer__social--title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 5rem 0 5rem 0;
}
.footer__social--icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social--icons img {
  margin: 0 25px;
}
.footer__social--icons img:hover {
  width: 28px;
  height: 28px;
  transition: all 0.5s ease-in-out;
}
.social_icons--paragraph {
  text-align: center;
  padding: 5rem 0 5rem 0;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
@media only screen and (min-width: 320px) and (max-width: 829px) {
  .footer__social--title {
    font-size: 1.6rem;
    padding: 2rem 0 2rem 0;
  }
  .social_icons--paragraph {
    text-align: center;
    padding: 2rem 0 2rem 0;
    font-size: 1.2rem;
  }
}
